// Really basic resets
* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
}

body {
    --app-green: #81C928;
    --app-blue: #07b0f2;
    --app-light-blue: #27cdf2;
    --app-red: #bf3f34;
    --app-orange: #f58000;
    --app-yellow: #f2b705;
    --menu-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: roboto, sans-serif;
}

button {
    background: none;
    border: none;
}

a {
    color: #000;
    text-decoration-color: var(--app-red);
}

.o-title {
    font-family: sauna-new, sans-serif;
    line-height: 0.8;
    text-align: center;
}

.o-title--primary {
    font-size: 7rem;
    font-weight: 900;
    color: var(--app-blue);
    text-shadow: -0.04em 0.04em 0 #333;
}

.o-title--secondary {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
}

.o-btn {
    --btn-color: #000;
    --text-color: #fff;
    width: max-content;
    padding: 0.5em 1em;
    font-family: sauna-new, serif;
    font-weight: 900;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: var(--btn-color);
    border-radius: 2.5rem;
    transition: transform 50ms ease-out;

    &:active {
        transform: scale(0.8);
    }
} 

.o-btn--primary {
    --btn-color: var(--app-green);
    --text-color: #fff;
    text-shadow: -0.06em 0.06em 0 #333;
}

// Site specific
.c-intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: m#{i}n(6rem, 11vw) 5vw;
}

.c-main-title {
    margin: 0 auto;
    font-size: m#{i}n(6rem, 11vw);
    text-transform: uppercase;
}

.c-main-title__em {
    display: block;
    margin-top: -0.1em;
    font-size: 1.5em;
    color: #F21F49;
}

.c-intro-content__blurb {
    max-width: 40rem;
    margin-top: 2vw;
    font-family: sauna-new, serif;
    font-size: 1.6rem;

    p {
        margin: 1.5rem 0 0 0;
    }
}

.c-intro-content__unsupported {
    display: none;
}

.c-xr-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-start-xr-btn {
    margin-top: 4rem;
}

.c-ar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: #000;
}

.c-ar-overlay.is-warmer {
    box-shadow: inset 0 0 20vw 10vw var(--app-orange);
    // box-shadow: inset 0 0 0 5vw var(--app-orange);
}

.c-ar-overlay.is-colder {
    box-shadow: inset 0 0 20vw 10vw var(--app-blue);
    // box-shadow: inset 0 0 0 5vw var(--app-blue);
}

.is-found .c-ar-overlay {
    // box-shadow: inset 0 0 20vw 10vw var(--app-green);
}

.has-ar .c-ar-overlay {
    display: block;
}

// Close Button
.c-ar-overlay__close-btn {
    position: absolute;
    top: 3vw;
    right: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    padding: 2vw;
    background-color: #000;
    border-radius: 50%;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5vw;
        height: 4px;
        margin: 0;
        background-color: #fff;
        border-radius: 2px;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

}

// Feedback text
.c-ar-overlay__feedback-text {
    position: fixed;
    top: 3vw;
    left: 3vw;
    margin: 0;
    font-family: sauna-new, sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 0.8;
    text-align: center;
    text-shadow: -0.04em 0.04em 0 #333;
    color: #fff;
}

// Info area
.c-ar-overlay__bottom-info {
    position: absolute;
    left: 0;
    bottom: 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-ar-overlay__ui-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.c-ar-overlay__play-again-btn {
    margin-top: 1rem;
}

.c-ar-overlay__timer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sauna-mono, sans-serif;
    font-weight: 900;
    font-size: calc(100vw / 7);
    line-height: 1;
    color: #fff;
    text-shadow: 5px 5px 0 rgba(0,0,0,0.75);
    will-change: contents;
}

.c-ar-overlay__instructions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 6rem);
    height: calc(2rem + 1.3rem * 1.2 * 2);
    margin: 5vw auto 0;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: sauna-new, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    border-radius: 0.25rem;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);

    $border-width: (2rem + 1.3rem * 1.2 * 2) / 2;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0.5rem;
        width: 0;
        height: calc(100% - #{$border-width} * 2);
        background-color: transparent;
        border-width: $border-width ($border-width / 2);
        border-style: solid;
        border-color: #ddd;
        border-radius: inherit;
        z-index: -1;
    }

    &::before {
        right: calc(100% - 0.75rem);
        border-left: $border-width / 2 solid transparent;
    }

    &::after {
        left: calc(100% - 0.75rem);
        border-right: $border-width / 2 solid transparent;
    }
}

.is-visible {
    display: inline-block;
}

.not-visible {
    display: none;
}